# Created by .ignore support plugin (hsz.mobi)
.idea/workspace.xml
grepped_logs.*
/.Projects/
/.Logs/
logs.csv
*.pkl
/frequencies.csv
/frequencies_first_word.csv
/project_stats.csv
/client_secret.json
