# Created by .ignore support plugin (hsz.mobi)
.idea/workspace.xml
grepped_logs.*
*.pyc
/.Projects/
/.Logs/
/nn-data/new_framework
logs.csv
interesting_context_words.csv
**/logs*.csv
*.pkl
!VOCAB.pkl
*.dat
dendrogram.txt
marked_up_contexts.html
marked_up_contexts.txt
classes.csv
*.index
/project_stats.csv
/client_secret.json
/generated_stats/
local_properties.py
/.coverage
/cc-test-reporter
/coverage.xml
